$basic-font-size: 16;

$nav-hover:#fb565a;
$light-grey: #f1f1f1;
$light-red: #F85458;
$coolton-red: #E53F43;
$light-green: #00C973;
$green: #00BC6B;
$light-orange: #EDC847;
$orange: #E8B530;  


$extra-large: 1220px;
$large: 992px;
$medium: 768px;
$small: 576px;
$extra-small: 351px;