@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/roboto.woff') format('woff'),
         url('../fonts/roboto/roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/roboto/robotomedium.woff') format('woff'),
         url('../fonts/roboto/robotomedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/robotobold.woff') format('woff'),
         url('../fonts/roboto/robotobold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }