@mixin extra-large {
    @media screen and (max-width: $extra-large) {
        @content;
    }
}

@mixin large {
    @media screen and (max-width: $large) {
        @content;
    }  
}

@mixin medium {
    @media screen and (max-width: $medium ) {
        @content;
    } 
}

@mixin small {
    @media screen and (max-width: $small ) {
        @content;
    } 
}

@mixin extra-small {
    @media screen and (max-width: $extra-small ) {
        @content;
    }
}

@mixin container {
    width: 1160px;
    padding: 0 15px;
    margin: 0 auto;

    
    @include extra-large {
       max-width: 940px;
    }

    @include large {
        max-width: 712px;
    } 


    @include medium {
        width: 100%;
    }

    @include small {
        width: 100%;
    }
}

@mixin rem($size) {
    font-size: $size / $basic-font-size + rem;
  }

@mixin font($weight) {
    
    @if $weight == bold {
      font-family: 'Roboto Bold';
    }
    @if $weight == medium {
        font-family: 'Roboto Medium';
    }
    @if $weight == reg {
      font-family: 'Roboto Regular';
    }
  }