<div class="items-catalog">
    <div class="item">
            <img class="items-preview" src="img/catalog_pictures/img-sedona.jpg.png" alt="Sedona">
            <div class="about-item">
                <h4>
                    <a class="items-title" href="#">Sedona</a>
                </h4>
                <p class="items-description">
                    Информационный сайт для туристов
                </p>
                <a class="btn reset-btn ui-btn" href="#">9 900 руб.</a>
            </div>
        </div>
      <div class="item">
            <img class="items-preview" src="img/catalog_pictures/img-pink.jpg.png" alt="Pink" >
            <div class="about-item">
                <h4>
                    <a class="items-title" href="#">Pink</a>
                </h4>
                <p class="items-description">
                    Продуктовый лендинг приложения для iOS и Android
                </p>
                <a class="btn reset-btn ui-btn" href="#">9 900 руб.</a>
            </div>
        </div>
        <div class="item">
            <img class="items-preview" src="img/catalog_pictures/img-barbershop.jpg.png" alt="Barbershop" >
            <div class="about-item">
                <h4>
                    <a class="items-title" href="#">Barbershop</a>
                </h4>
                <p class="items-description">
                    Сайт салоны красоты.<br>Для мужчин, да.
                </p>
                <a class="btn reset-btn ui-btn" href="#">9 900 руб.</a>
            </div>
        </div>
        <div class="item">
            <img class="items-preview" src="img/catalog_pictures/img-mishka.jpg.png" alt="Mishka" >
            <div class="about-item">
                <h4>
                    <a class="items-title" href="#">Mishka</a>
                </h4>
                <p class="items-description">
                    Интернет-магазин<br>вязаных игрушек
                </p>
                <a class="btn reset-btn ui-btn" href="#">9 900 руб.</a>
            </div>
        </div>
        <div class="item">
            <img class="items-preview" src="img/catalog_pictures/img-aplus.jpg.png" alt="Учеба" >
            <div class="about-item">
                <h4>
                    <a class="items-title" href="#">A plus</a>
                </h4>
                <p class="items-description">
                    Лендинг курсов повышения квалификации
                </p>
                <a class="btn reset-btn ui-btn" href="#">9 900 руб.</a>
            </div>
        </div>
        <div class="item">
            <img class="items-preview" src="img/catalog_pictures/img-kvast.jpg.png" alt="Кваст" >
            <div class="about-item">
                <h4>
                    <a class="items-title" href="#">Кваст</a>
                </h4>
                <p class="items-description">
                    Промо-сайт производителя крафтового кваса
                </p>
                <a class="btn reset-btn ui-btn" href="#">9 900 руб.</a>
            </div>
        </div>        
  </div>