<nav class="header-nav">
    <a class="header-logo" href="index.html">
        <img class="header-logo__img" src="img/nerds-logo.svg" alt="logo" >
    </a>
    <ul class="header-menu">
        <li class="header-menu__item">
            <a href="#" class="header-link">студия</a>
        </li>
        <li class="header-menu__item">
            <a href="#" class="header-link">клиенты</a>
        </li>
        <li class="header-menu__item">
            <a href="shops.html" class="header-link">магазин</a>
        </li>
        <li class="header-menu__item">
            <a href="#" class="header-link">контакты</a>
        </li>
    </ul>
    <a href="#" class="header-card">
        <i class="header-card__icon fas fa-shopping-cart"></i>
        <span class="header-card__title">корзина</span>
    </a>
    <div class="header-hamburher">
        <label class="header-hamburher__label" for="menu">
                
            <input type="checkbox" id="menu">
            <i class="header-hamburher__icon header-hamburher__icon--open fas fa-align-right"></i>
            <i class="header-hamburher__icon header-hamburher__icon--close fas fa-times"></i>
            <ul class="header-hamburher__menu">
                    <li class="header-hamburher__item">
                        <a href="#" class="header-hamburher-link">студия</a>
                    </li>
                    <li class="header-hamburher__item">
                        <a href="#" class="header-hamburher-link">клиенты</a>
                    </li>
                    <li class="header-hamburher__item">
                        <a href="shops.html" class="header-hamburher-link">магазин</a>
                    </li>
                    <li class="header-hamburher__item">
                        <a href="#" class="header-hamburher-link">контакты</a>
                    </li>
                    <li class="header-hamburher__item">
                        <a href="#" class="header-hamburher-card">
                            <i class="header-card__icon fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
        </label>
    </div>
</nav>