    <div class="catalog-form-block">
    <div class="catalog-form-wrap">

            <div class="catalog-mobile-btn-wrap">
                <button type="button" onclick="myFunction()" class="mobile-btn reset-btn ui-btn">
                    Подбор по параметрам
                </button>
            </div>

            <form class="catalog-form hidden visible" id="main-form">

            {% include 'components/shopspage/form/form-slider/form-slider.html' %}
            {% include 'components/shopspage/form/form-radios/form-radios.html' %}
            {% include 'components/shopspage/form/form-checkboxes/form-checkboxes.html' %}
            {% include 'components/shopspage/form/form-btn/form-btn.html' %}
            
            </form>

            <script>
                function myFunction() {
                    let x = document.getElementById("main-form");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }

                }
            </script>
    </div>
</div>    